<div class="wrapper">
  <% @posts.each do |post| %>
  <dir class="blog-wrapper">
    <div class="blog-header">
      <div class="blog-header__created">
        <p class="blog-header__created--year">
          <%= post.created_at.strftime("%Y") %>
        </p>
        <p class="blog-header__created--md">
          <%= post.created_at.strftime("%m-%d") %>
        </p>
      </div>
      <div class="blog-header__title">
        <p class="blog-header__title--p">
          <%= post.title %>
        </p>
      </div>
    </div>
    <div class="blog-wrapper__content">
      <%=simple_format(post.content, class: "blog-wrapper__content--p") %>
    </div>
    <div class="blog-wrapper__author-name">
      <p class="blog-wrapper__author-name--p">投稿者：<%= post.user.name %></p>
    </div>
  </dir>
  <% end %>
</div>
