<div class="form-wrapper">
  <% if @post.errors.any? %>
    <p>入力した内容にエラーが<%= @post.errors.count %>件あります</p>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
    </ul>
  <% end %>
  <%= form_for(@post) do |post| %>
    <div class="form-wrapper__title">
      <%= post.label :title %>
      <%= post.text_field :title %>
    </div>
    <div class="form-wrapper__content">
      <%= post.label :content %>
      <%= post.text_area :content, size: "60x10" %>
    </div>
    <div class="form-wrapper__submit-btn">
      <%= post.submit '投稿する', class: "form-wrapper__submit-btn--color" %>
    </div>
  <% end %>
</div>
