<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Miniblog</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "投稿", new_post_path %></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
